<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>I Risultati!</title>	
        <link rel="stylesheet" href="style/default.css" type="text/css"/>        
        
    </head>
    <body>
        
        <div class="header">Benvenuti nel Sito dei Risultati</div>
        <div class="body">
            
         <#include outline.contenttpl>
            
        </div>
        <div class="footer">Copyright &copy; 2008 Corso di Ingegneria del Web</div>
        
        
    </body>
</html>