<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <script type="text/javascript" src="./templates/js/controlli.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Curriculum - Home</title>

        <link rel="stylesheet" type="text/css" href="style.css" />

    </head>

    <body>

        <div id="header">
            <img src="images/logo1.png" title="Affiliate Promo logo" id="logo" alt="Logo"/>

            <ul id="navBar">

                <li class="current"><a href="index">Home</a></li>

                <li><a href="#">Annunci lavoro</a></li>

                <li><a href="#">Cercasi lavoro</a></li>

                <li><a href="">Profilo personale</a></li>

                <li><a href="#">Consigli</a></li>

            </ul>

        </div>

        <div id="welcomeMessage">

            <div id="mainCol1" class="clearfix">
               	<div id="services">
                    <h3>I nostri servizi</h3>
                    <ul>
                        <li>
                            <h4>Candidati</h4>
                            * Fatti trovare dalle aziende <br />
                            * Cambio lavoro: Come comunicare in modo efficace in sede di colloquio la volontà al cambiamento?
                        </li>
                        <li>
                            <img src="images/image8.jpg" class="img_piccola" alt="image1" />
                        </li>
                        <li>
                            <h4>Aziende</h4>
                            * Cerchi personale? <br />
                            * Registrati gratuitamente per avere una gestione efficace dei curriculum e notifiche direttamente via email
                        </li>
                    </ul>
                </div>
            </div>
        </div>





        <!--

        -->

        <div id="wrapper">
            <div id="secWrapper">
                <div id="container" class="clearfix">
                    <div id="mainCol" class="clearfix">