<#include "header.html">
<h3 id="why">Registrazione utente</h3>
<ul id="maincon">
    <li>
        <img src="images/image12.jpg" class="img_head" alt="image1" />
         <table class="inserimento">
        <tr>
            <td>  Registrazione andata a buon fine. Effettua il login dal pannello laterale.</td>
         </tr>
         <tr>
            <td>   Ecco i tuoi dati:</td>
         </tr>
          
          <tr>
            <td>  Username: ${username}</td>
         </tr>
          <tr>
            <td>  Password: ${password}</td>
         </tr>
          <tr>
            <td>   Email: ${email}</td>
         </tr>
  
         </table>
         <h3 class="ricerca">CURRICULUM VITAE</h3>
            <h4><a href="#">Modello d'esempio per ottenere colloqui e lavoro</a></h4>
            <img src="images/image8.jpg" alt="image8"/>
            <p class="pannello"> * Il curriculum vitae per essere preso in considerazione da aziende e società di selezione deve essere professionale: in questo sito offriamo esempi utili per trovare lavoro e suggerimenti preziosi su come fare un curriculum vitae europeo, formato personalizzato, modello CV in inglese e lettera di presentazione.<br /><br />
                * Hai scritto e inviato svariati curricula con poco successo? I tuoi curricula non si presentano con le informazioni giuste: impara come compilare modello curriculum vitae professionale piuttosto che un esempio standard.<br /><br />
                * Pubblica il CV online, non inviarlo solo via posta o per e-mail; raccogliamo curricula in una banca dati che le aziende consultano per cercare nuovi dipendenti.<br />
                Abbiamo online tutti gli indirizzi degli head hunter e dei selezionatori del personale a cui inviare CV e aiutarti nella ricerca.<br /><br /></p>



    </li>
</ul>
<#include "footer.html">

