<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head><title>Login</title></head>
    
    <body>
       
            <h1>Autenticazione richiesta</h1>
            <form method="post" action="login">
            <p>Username: <input name="u" type="text"/></p>
            <p>Password: <input name="p" type="password"/></p>
            <p><input value="login" name="login" type="submit"/></p>
            </form>
        
    </body>
</html>