<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head><title>Risultati</title></head>
    
    <body>
        
        <h1>Risultati esame numero ${idesame}</h1>
        
        <#if (risultati?size > 0)>
        
        <table border="1">
            
            <tr><th>Nome</th><th>Matricola</th><th>Voto</th></tr>
            
            <#list risultati as risultato>
            
            <tr>
                <td>${risultato.nome?html}</td><td>${risultato.matricola}</td><td>${risultato.voto}</td>
            </tr>
            
            </#list>
            
        </table>
  
        <#else>
        
            <p>Non ci sono risultati disponibili</p>
        
        </#if>
        
    </body>
</html>